<% # DISCOVER PAGE %>
<h1> Discover </h1>

<div class="index-container">
    <% @users.each do |u| %>
        <div class="index-tile">
            <%= link_to u.user_name, user_path(u) %>
        </div>
    <% end %>
</div>