<div class="container">
    <% # DISCOVER PAGE %>
    <div class="discover-head">
        <h1><p> Interested in seeing how others are doing?</p></h1>
        <br>
        <h3><p> Below, you can browse users, view their profiles, and see what routines they have been using. </p></h3>
        <h3><p>Who knows -- maybe you will get some fit-spo from fellow members in your community! 🚵🏼 </p></h3>
    </div>
    <br>
    <br>

    <%#
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <% @users.each do |u| 
        <div class="card-body">
        
            <h5 class="card-title"><%= link_to u.user_name, user_path(u) </h5>

            <p class="card-text">Some text placeholder.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <% end 
    </div>
    %>

    <%# want image for tiles %>

    <div class="index-container">
        <% @users.each do |u| %>
            <div class="index-tile">
                <p><%= link_to u.user_name, user_path(u) %></p>
                <% if u.img_url %>
                <img src="https://robohash.org/workout.png?size=200x200">

                    <%# image_tag u.img_url, class: 'index-img' %>
                <% else %>
                <div class="index-img">
                <img src="https://robohash.org/workout.png?size=200x200">
                <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>