<h1> For checkin routine exercise relationships</h1>
<% @routine_exercises.each do |re| %>
    <li>
        <%= link_to re.exercise.name, routine_exercise_path(re) %>  <%= re.routine.user.name %>  <%= re.reps%>
    </li>
<% end %>