<h1> List of Exercises </h1>

<div class="index-container">
    <% @exercises.each do |exercise| %>
        <div class="index-tile">
            <%= link_to exercise.name, exercise_path(exercise) %>
        </div>
    <% end %>
</div>