<div class="container-fluid">    
    <div class="container">
        <h1 style="color:white"><%= @exercise.name %></h1>

        <h4 style="color:white">Difficulty: <%= @exercise.difficulty %></h4>


        <h5 style="color:white"> Routines with this exercise </h5>
        <% @exercise.routine_exercises.each do |re| %>
            <li class="list-group-item"><%= link_to re.routine.name, routine_path(re.routine) %></li>
        <% end %>
    </div>
</div>